$primaryText: #555;
$secondaryText: #aaa;
$unimportantText: #ccc;
$accent: #eb4a42;

$white: #fff;
$black: #000;

$background: #eaeaea;


$disabledBtnText: #bfbfbf;
$disabledBtnColor: #e0e0e0;

$iputBackground: #e0e0e0;
